

@media screen  and (max-width: 800px) {


    nav{
        display: flex;
        margin-top: 40px;
    }
    .nav-title h1{
        font-size: 30px;
    }
    .nav-items ul{
        display: none;
    }
    .nav-items i{
        display: block;
    }







    /*tours*/
    .tours-content h1{
        font-size: 30px;
        padding: 20px 0;
    }
    .tours-content p{
        font-size: 15px;
    }
    .tours-content li{
        font-size: 15px;
    }
    .btn-primary{
        margin-top: 20px;
    }


    /*destination*/
   
    .des-row-1{
        grid-template-columns: repeat(1, 1fr);
    }

    .des-row-2{
        grid-template-columns: 100%;
    }
    
    .des-row-2 div{
        margin: 12.5px 0px;
    }

    .row-2-1{
        width: calc(100% - 0px);
    }
    .row-2-2{
        width: calc(100% - 0px);
    }

    .des-row-3{
        grid-template-columns: 100%;
    }

    .row-3-2{
        width: calc((100% - 0px)/1);
    }

    /*--place--*/
   
    .place-container{
        flex-wrap: wrap;
    }

    .place-container div{
        width: 100%;
    }

    .place-container div:first-child{
        margin-bottom: 25px;
    }

    .place-container h1{
        font-size: 25px;
    }
    .place-container p{
        font-size: 15px;
    }
    .place-img{
        width: 100% !important;
    }
    .place-img h2{
        padding: 0 20%;
    }

    /*--choose--*/
    .choose-us-container div{
        width: 100%;
    }

    /*--newsletter--*/
    .newsletter-container div{
        width: 100% !important;
    }
    .new-saveup{
        width: 80% !important;
    }
    .news-content{
       margin-bottom: 25px;
    }
    .news-content input{
        width: 91%;
    }
}






@media screen  and (max-width:600px){
    /*nav start*/
    nav{
        display: flex;
        margin-top: 25px;
    }
    .nav-title h1{
        font-size: 30px;
    }

/*hero*/
    #hero{
    margin-top: 25px;
    }
    .hero-content h1{
    font-size: 36px;
    font-weight: 800;
    }


    main{
    margin-top: 25px;
    }

    /*shared styles*/
    .title{
        width: 100%;
        padding: 10px;
    }
    .title h1{
        font-size: 30px;
    }
    .title p{
        font-size: 15px;
        padding-bottom: 10px;
    }
    
    main{
        margin-top: 25px;
    }



    /*tours*/
    #tours{
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    #tours div{
        width: 100%;
    }
    .tours-content{
        margin-bottom: 30px;
    }
    .tours-img img{
        width: 100% !important;
    }
    .tours-content h1{
        font-size: 30px;
        padding: 20px 0;
    }
    .tours-content p{
        font-size: 15px;
    }
    .tours-content li{
        font-size: 15px;
    }
    .btn-primary{
        margin-top: 20px;
    }


     /*destination*/
     #destination{
        margin:20px 0px;
    }

/*choose-us*/
    #choose-us{
        margin: 20px 0;
    }
    






    
    form input{
        width: 100%;
    }
    form select{
        width: 100%;
    }
    
    form button{
        width: 94%;
    }
    

  


  
   



/*package*/
#package{
    margin-top: 25px;
}
.package-item img{
    max-width: 370px !important;
    border-radius: 16px 16px 0px 0px;
}
.package-img{

    border-radius: 16px 16px 0px 0px;
    background: rgba(19, 19, 24, 0.05);
}
.package-item> div{
    width: 370px;
    height: auto;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    justify-content: center !important;
    align-items: center !important;
}
.item div{
    text-align: center !important;
}
.item span{
    padding: 5px;
    justify-content: center;
    text-align: center !important;
}
.item h1{
    font-size: 22px;
}
.item-2{
    padding-top: -120px !important;
    border-radius: 0px 0px 16px 16px;
}
.item h2{
    font-size: 40px;
    padding: px;
    font-weight: 700;
}







    /*discount*/
    #discount{
        width: 100%;
        height: auto;
        margin-top: 10px;
    }
    .discount-title{
        width: 80%;
        border: 1px solid red;
    }
    .discount-title h1{
        font-size: 20px;
        padding: 5px;
    }
    .discount-title p{
        font-size: 14px;
        line-height: 24px; 
    }
    .discount-list{
        width: 100%;
        height: 600px;
        align-items: end;
        justify-content: center;
    }
    .discount-list div{
        width: 70%;
        height: auto;
        padding: 10px;
    }
    .discount-list h4, i{
        font-size: 16px;
        margin: 5px;
    }
    .discount-list h2{
        font-size: 20px;
        margin:  10px;
    }
    .discount-list p{
        font-size: 14px;
        margin: 0;
    }
    .discount-list h3{
        font-size: 16px;
        font-weight: 600;
    }
    .discount-list button{
        font-size: 16px;
        font-weight: 600;
    }





/*place*/
    #place{
        margin: 25px 0px;
        margin-top: -100px;
    }
    .place-img{
    width: 100% !important;
    }
    .place-img h2{
    padding: 0 10%;
    }




/*newsletter*/
#newsletter{
    margin-top: 25px;
}

.new-saveup{
    width: 70% !important;
}

/*footer section start*/

footer{
    margin-top: 25px;
}
.footer-container{
    padding: 0px 20px;
}
.footer-container .line{
    margin: 25px auto;
}


}
