*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
}




header{
    max-width: 1170px !important;
    height: 100%;
    margin: 0 auto;
    padding: 0px 20px;
}

nav{
    max-width: 1170px;
    height: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div{
    width: 30%;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 70%;
}

.nav-items ul{
    display: flex;
}

.nav-items i{
    font-size: 25px;
    display: none;
}

.nav-items li{
    list-style: none;
}

.nav-items li a{
    color: #424247;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0px 40px;
}

.nav-items .active{
    color:  #E8604C;
}

.nav-items li a:last-child{
    padding-right: 0px;
}

/*----*/




/*hero section start*/
#hero{
    max-width: 1170px;
    min-height: 500px;
    border-radius: 16px;
    margin-top: 50px;
    background: url(./img/hero.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-container{
    width: 100%;
    height: 100%;
    min-height: 500px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.hero-container > div{
    width: 100%;
    height: 100%;
    padding: 50px 20px;
}

.hero-content{
    max-width: 700px;
    text-align: center;
    color: white;
    margin: 0 auto;
}

.hero-content h1{
    color: #FFF;
    font-size: 60px;
    font-weight: 800;
}

.hero-content p{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

.hero-forms{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 40px;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px;
    margin-top: 40px;
}

.hero-forms form{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form input{
    width: 180px;
    height: 40px;
    outline: none;
    border: none;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

form select{
    width: 180px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin: 10px;
    border: none;
    padding-left: 10px;
}

form button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    background: #E8604C;
    font-size: 16px;
}

form i{
    margin-right:15px;
    border: none;
}


/*main*/

main{
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0px 20px;
}






#tours{
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}


#tours div{
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.tours-content{
    width: 100%;
}

.tours-content h1{
    color: #131318;
    font-size: 40px;
    padding: 40px 0;
    font-weight: 800;
}
.tours-content p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.tours-content ul{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.tours-content li{
    font-size: 16px;
    padding: 10px 0;
}
.btn-primary{
    width: 120px;
    cursor: pointer;
    margin-top: 50px;
    padding: 10px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 8px;
    background: #E8604C;
}

.tours-img{
    width: 100%;
    text-align: end;
}

.tours-img img{
    width: 95%;
}






/*---Choose Your Destination start---*/
#destination{
    width: 100%;
    height: auto;
    margin: 100px 0px;
    justify-content: center;
    align-items: center;
}

.destination-container{
    width: 100%;
    height: auto;
}

.des-row-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.des-row-1 div{
    width: 100% !important;
    min-height: 300px;
    border-radius: 16px;
}

.row-1-1{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url(./img/Rectangle\ 5.png);
}

.row-1-2{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url(./img/Rectangle\ 8.png);
}

.des-row-2{
    display: grid;
    grid-template-columns: 30% 43% 27%;
    margin: 25px 0px;
}

.des-row-2 div{
    min-height: 300px;
    border-radius: 16px;
}

.row-2-1{
    background-repeat: no-repeat !important;
    background-position: center center !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover !important;
    background: url(./img/Rectangle\ 6.png);
    width: calc(100% - 25px);
}
.row-2-2{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/Rectangle\ 7.png);
    width: calc(100% - 25px);
}

.row-2-3{
    background-position: center!important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url(./img/Rectangle9.png);display: flex;
    justify-content: center;
    align-items: center;
}

.des-row-3{
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 25px;
}

.des-row-3 div{
    min-height: 300px;
    border-radius: 16px;
}

.row-3-1{
    justify-content: center;
    align-items: center;
    display: flex;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url(./img/Rectangle\ 11.png);
}

.row-3-2{
    justify-content: center;
    align-items: center;
    display: flex;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url(./img/Rectangle\ 10.png);
    width: calc(100% - 25px);
}

.row-title{
    font-size: 25px;
    font-weight: 800;
    color: white;
}
.des-row-2 
/*----*/











/*---choose---*/
#choose-us{
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: 100px 0;
}

.choose-content{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.choose-content div{
    max-width: 550px;
    padding: 20px;
}

.choose-content h1{
    color: #131318;
    font-size: 40px;
    padding: 10px;
    font-weight: 800;
}

.choose-content p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    padding: 10px;
    font-weight: 400;
}

.choose-us-container{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.choose-us-container div{
    width: 48.5%;
    height: auto;
    text-align: left;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-bottom: 25px;
}

.choose-active{
    border: 1px solid rgba(41, 206, 246, 0.20 ) !important;
    background: rgba(41, 206, 246, 0.05) !important;
}

.choose-active-2{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05) !important;
    margin: 0 auto;
}

.choose-us-container img{
    width: 64px;
    height: 64px;
    padding: 20px;
}

.choose-us-container h1{
    font-size: 24px;
    padding: 0px 20px;
    color: #131318;
    font-weight: 800;
}

.choose-us-container p{
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5D;
    padding: 10px 20px;
    padding-bottom:20px;
}
/*----*/






/*package*/
#package{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}
.package-container{
    width: 100%;
    height: auto;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.package-item{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex !important;
    flex-wrap: wrap;
    border-radius: 16px;
    margin: 20px;
}
.package-item >div{
    width: 370px;
    height: 300px;
    background: rgba(19, 19, 24, 0.05);
    justify-content: center !important;
    align-items: center !important;
}
.item{
    display: flex;
    justify-content: center;
    align-content: center;
}
.item-2{
    border-radius: 0px 16px 16px 0px;
}
.item div{
    padding: 15px;
}
.item h1{
    font-size: 25px;
    padding: 10px;
}
.item p{
    font-size: 16px  !important;
    padding: 0px 10px !important;
}
.item span{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.item h4{
    margin: 5px;
}
.item i{
    margin: 5px;
}
.item h2{
    font-size: 45px;
    padding: 10px;
    font-weight: 800;
}
.item p{
    font-size: 22px;
    padding: 5px;
}
.item button{
    width: 180px;
    padding: 10px;
    background: #E8604C;
    border: none;
    color: white;
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
}
.package-item img{
    width: 100%;
    height: 100%;
    border-radius: 16px 0px 0px 16px;
}
.package-btn{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
}
.package-btn button{
    width: 220px;
    padding: 15px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius:8px;
    border: none;cursor: pointer;
    background: #E8604C;
}










/*discount*/
#discount{
    width: 100%;
    height: auto;
    margin: 100px 0px;
}

.title{
    width: 70%;
    margin: 0 auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.title h1{
    color: #131318;
    font-size: 40px;
    padding: 10px;
    font-weight: 800;
}
.title p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}

.discount-container{
    width: 100%;
    height: auto;
}

.discount-list{
    margin: 25px 0px;
    width: 100%;
    min-height: 500px;
    border-radius: 16px;
    justify-content: end;
    align-items: center;
    display: flex;
    background: url(./img/Rectangle\ 12.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.list-2{
    justify-content: start;
    align-items: center;
    background: url(./img/Rectangle\ 12\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.discount-list div{
    width: 45%;
    margin: 40px;
    height: auto;
    border-radius: 16px;
    padding: 20px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}
.discount-list span{
    display: flex;
    flex-wrap: wrap;
}
.discount-list h4{
    margin: 10px;
    color: #5A5A5D;
    font-size: 20px;
    font-weight: 400;
}
.discount-list i{
    font-size: 20px;
    margin: 0 5px;
    color: #E8604C;
}
.discount-list h2{
    color: #131318;
    font-size: 25px;
    margin: 15px;
    font-weight: 800;
}
.discount-list p{
    color: #5A5A5D;
    font-size: 16px;
    padding:5px 15px;
    font-weight: 400;
    line-height: 26px; 
}
.discount-list h3{
    color: #E8604C;
    font-size: 20px;
    font-weight: 800;
    margin: 5px 15px;
}
.discount-list button{
    border: none;
    font-weight: 700;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin: 10px 15px;
    width: 40%;
    padding: 10px;
    border-radius: 8px;
    background: #E8604C;
}








/*place*/
#place{
    max-width: 100%;
    height: auto;
    margin: 100px 0px;
}

.place-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place-container div{
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center; 
}

.place-container h1{
    color: #131318;
    font-size: 40px;
    margin: 10px;
    font-weight: 800;
    line-height: 52px; 
}
.place-container p{
    color: #5A5A5D;
    font-size: 16px;
    margin: 10px;
    line-height: 26px; 
    font-weight: 400;
}
.place-container ul{
    margin: 20px;
}
.place-container li{
    color: #131318;
    font-size: 16px;
    margin: 10px;
    line-height: 26px; 
    font-weight: 700;
}
.place-container button{
        width: 120px;
        cursor: pointer;
        margin: 10px;
        padding: 10px;
        font-size: 18px;
        color: white;
        border: none;
        border-radius: 8px;
        background: #E8604C;
}

.place-container img{
    width: 100%;
    height: auto;
}










/*newsletter*/
#newsletter{
    width: 100%;
    height: auto;
    margin: 50px 0px;
    margin-top: 100px;
}

.newsletter-container{
    width: 100%;
    min-height: 430px;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
}

.newsletter-container div{
    width: 50%;
    height: 100%;
    text-align: center;
    width: calc((100% - 25px)/2);
}

.news-content{
    width: 100%;
    min-height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #E8604C;
}

.news-content div{
    width: 100%;
    padding: 40px;
}

.news-content h1{
    color: #131318;
    font-size: 28px;
    text-align: left;
    font-weight: 800;
}
.news-content p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding: 25px 0px;
}

.news-content input{
    width: 94%;
    height: 25px;
    padding: 15px ;    
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 20px;
}

.news-content div input::placeholder{
    padding-left: 15px;
}

.news-content button{
    border-radius: 8px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #E8604C;
}
.new-img{
    width: 100%;
    min-height: 420px;
    border-radius: 16px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url(./img/news.png);
    position: relative;
}
.new-saveup{
    max-width: 300px !important;
    height: auto !important;
    border-radius: 16px;
    background: #E8604C;
    z-index: 1111;
    position: absolute;
    bottom: 50px;
    padding: 30px 5px;
    right: 10px;
    color: white;
    transform: rotate(-19.628deg);
}
.new-saveup h1{
    font-size: 20px;
    font-weight: 600;
}
.new-saveup h2{
    font-size: 25px;
    font-weight: 700;
}
/*----*/





/*footer section start*/

footer{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    background: rgba(19, 19, 24, 0.05);
}
#footer{
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.footer-container{
    max-width: 1170px;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: ;
    text-align: center;
}
.footer-content{
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
}

.footer-container img{
    padding-bottom: 20px;
}


.footer-container p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}

.footer-content i{
    font-size: 25px;
    padding-top: 20px;
    margin: 10px;
    transition: 1s;
}

.footer-content i:hover{
    color: #E8604C;
    transition: 1s;
}

.footer-container .line{
    max-width: 870px;
    height: 1px;
    text-align: center;
    margin: 50px auto;
    background: rgba(19, 19, 24, 0.10);
}

.copyright {
    text-align: center;
 padding-bottom: 50px;
}

.copyright h2{
    color: #131318;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/*----*/

